<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>operations</h1>
        {% if a > b %}
            <h1>a is max</h1>
            <h2>inside if block</h2>
        {% else %} 
            <h1>b is max</h1>
            <h2>inside else block</h2> 
        {% endif %}           
    </center>
</body>
</html>